<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CFBundleDevelopmentRegion</key>
	<string>English</string>
	<key>CFBundleDocumentTypes</key>
	<array>
		<dict>
			<key>CFBundleTypeExtensions</key>
			<array>
				<string>jstalk</string>
				<string>js</string>
				<string>coscript</string>
			</array>
			<key>CFBundleTypeIconFile</key>
			<string>JSTalkDocument.icns</string>
			<key>CFBundleTypeName</key>
			<string>DocumentType</string>
			<key>CFBundleTypeOSTypes</key>
			<array>
				<string>????</string>
			</array>
			<key>CFBundleTypeRole</key>
			<string>Editor</string>
			<key>LSTypeIsPackage</key>
			<integer>0</integer>
			<key>NSDocumentClass</key>
			<string>JSTDocument</string>
		</dict>
		<dict>
			<key>CFBundleTypeExtensions</key>
			<array>
				<string>jstplugin</string>
			</array>
			<key>CFBundleTypeIconFile</key>
			<string>plugin.icns</string>
			<key>CFBundleTypeMIMETypes</key>
			<array>
				<string>plugin/jstalk</string>
			</array>
			<key>CFBundleTypeName</key>
			<string>JSTalk Plugin</string>
			<key>CFBundleTypeOSTypes</key>
			<array>
				<string>????</string>
			</array>
			<key>CFBundleTypeRole</key>
			<string>Viewer</string>
			<key>NSDocumentClass</key>
			<string>JSTPluginMover</string>
		</dict>
	</array>
	<key>CFBundleExecutable</key>
	<string>Cocoa Script Editor</string>
	<key>CFBundleIconFile</key>
	<string>JSTalk.icns</string>
	<key>CFBundleIdentifier</key>
	<string>com.cocoascript.CocoaScript</string>
	<key>CFBundleInfoDictionaryVersion</key>
	<string>6.0</string>
	<key>CFBundleName</key>
	<string>Cocoa Script Editor</string>
	<key>CFBundlePackageType</key>
	<string>APPL</string>
	<key>CFBundleShortVersionString</key>
	<string>3</string>
	<key>CFBundleSignature</key>
	<string>????</string>
	<key>CFBundleVersion</key>
	<string>1</string>
	<key>LSApplicationCategoryType</key>
	<string>public.app-category.developer-tools</string>
	<key>LSMinimumSystemVersion</key>
	<string>10.6</string>
	<key>NSMainNibFile</key>
	<string>MainMenu</string>
	<key>NSPrincipalClass</key>
	<string>NSApplication</string>
	<key>NSServices</key>
	<array>
		<dict>
			<key>NSKeyEquivalent</key>
			<dict>
				<key>default</key>
				<string>5</string>
			</dict>
			<key>NSMenuItem</key>
			<dict>
				<key>default</key>
				<string>Get Result of Cocoa Script</string>
			</dict>
			<key>NSMessage</key>
			<string>runAsCocoaScript</string>
			<key>NSPortName</key>
			<string>Cocoa Script Editor</string>
			<key>NSReturnTypes</key>
			<array>
				<string>NSRTFDPboardType</string>
				<string>NSRTFPboardType</string>
				<string>NSStringPboardType</string>
			</array>
			<key>NSSendTypes</key>
			<array>
				<string>NSStringPboardType</string>
			</array>
		</dict>
	</array>
	<key>UTExportedTypeDeclarations</key>
	<array>
		<dict>
			<key>UTTypeConformsTo</key>
			<array>
				<string>com.netscape.javascript-source</string>
			</array>
			<key>UTTypeDescription</key>
			<string>JSTalk JavaScript Document</string>
			<key>UTTypeIdentifier</key>
			<string>org.jstalk.jstalk-source</string>
			<key>UTTypeReferenceURL</key>
			<string>http://www.jstalk.org</string>
			<key>UTTypeTagSpecification</key>
			<dict>
				<key>public.filename-extension</key>
				<array>
					<string>jstalk</string>
				</array>
				<key>public.mime-type</key>
				<string>application/x-jstalk</string>
			</dict>
		</dict>
		<dict>
			<key>UTTypeConformsTo</key>
			<array>
				<string>com.apple.package</string>
				<string>public.composite-content</string>
			</array>
			<key>UTTypeDescription</key>
			<string>JSTalk Plugin</string>
			<key>UTTypeIconName</key>
			<string>plugin.icns</string>
			<key>UTTypeIdentifier</key>
			<string>org.jstalk.jstplugin</string>
			<key>UTTypeReferenceURL</key>
			<string>http://www.jstalk.org/</string>
			<key>UTTypeTagSpecification</key>
			<dict>
				<key>public.filename-extension</key>
				<array>
					<string>jstplugin</string>
				</array>
			</dict>
		</dict>
		<dict>
			<key>UTTypeConformsTo</key>
			<array>
				<string>com.netscape.javascript-source</string>
			</array>
			<key>UTTypeDescription</key>
			<string>Cocoa Script JavaScript Document</string>
			<key>UTTypeIdentifier</key>
			<string>com.cocoascript.cocoascript-source</string>
			<key>UTTypeReferenceURL</key>
			<string>http://cocoascript.com/</string>
			<key>UTTypeTagSpecification</key>
			<dict>
				<key>public.filename-extension</key>
				<array>
					<string>coscript</string>
				</array>
			</dict>
		</dict>
	</array>
</dict>
</plist>
